.current-probability {
    margin: 20px;
    border-radius:30px;
    text-align: center;
    line-height: 20px;
    border:2px solid aquamarine;
  }

  .probability-box {
    padding: 20px;
    margin-top: 10px;
    color: black;
    border-radius: 30px;
  }
  
  .probability-box p {
    font-size: 2em;
    margin: 0;
  }