@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content:center;
  padding: 20px;
  position: relative;
  left:0px;
}

.title {
  margin: 10px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.username-display {
  margin:10px;
  display: flex;
  align-items: center;
  position:absolute;
  right:30px;
}

.login-button{
  margin:10px;
  display: flex;
  align-items: center;
  position:absolute;
  left:20px;
}