.forecast-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.day-box {
  flex: 1;
  border: 1px solid skyblue;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.day-box h2 {
  margin-bottom: 10px;
}

.day-box p {
  margin: 0;
}
