@import url("https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.app {
  text-align: center;
  font-family: "Goorm sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체를 채우도록 설정 */
}

.header,
.current-probability,
.three-day-forecast,
.map-image,
.footer {
  flex: 1;
}

.footer {
  flex-shrink: 0; /* Footer가 화면 하단에 고정되도록 설정 */
}
