@import url("https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.min.css");

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.app {
  text-align: center;
  font-family: "Goorm sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체를 채우도록 설정 */
}

.day-text{
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.header,
.current-probability,
.three-day-forecast,
.map-image,
.footer {
  flex: 1;
}

.footer {
  flex-shrink: 0; /* Footer가 화면 하단에 고정되도록 설정 */
}

/* 기존 코드 유지 */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
}

.loading-spinner {
  border: 16px solid rgb(81, 119, 134);
  border-radius: 50%;
  border-top: 16px solid skyblue;
  width: 120px;
  height: 120px;
  animation: spin 1.2s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

